
.App {
  --header_height: 60px;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

.hw {
  max-width: 1140px;
  margin: 0 auto;
}

.hwTitle {
  height: var(--header_height);
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
  padding: 107px 0 60px 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 2px;
}

.hwTitle:after {
  position: absolute;
  content: '';
  width: 66.6vw;
  left: -70px;
  top: 142px;
  border: 1px solid #D9D9D9;
}

.hwTitle:before {
  position: absolute;
  content: '';
  width: 66.6vw;
  left: -70px;
  top: 31px;
  border: 1px solid #D9D9D9;
}