.container .wrapper:first-child {
  width: 211px;
}


.wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 250px;
}


.number {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
